body {
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  border: 1px solid cornsilk;
  padding: 10px;
  margin-bottom: 20px;
}
.item {
  padding: 10px;
  background-color: aquamarine;
  color: azure;
  margin: 5px;
}
.nowap {
  flex-wrap: nowrap;
}
.wrap {
  flex-wrap: wrap;
}
.wrap-reverse {
  flex-wrap: wrap-reverse;
}
