body{
  background-image: url("/imagens/download\ \(1\).jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
p {
  color:rgb(255, 255, 255);
  background-color: rgba(43, 125, 173, 0.527);
  text-align: center;
  line-height: 50px;
  letter-spacing: 30px;
  word-spacing: 10px;
  text-indent: 5px;
  font-size: 30px; 
  border: rgb(243, 243, 243) dotted 10px;
  border-bottom: 5px dashed 

}  

h1{
  border-top: 2px solid blue;
  border-bottom: 5px dashed black;
  border-left: 9px groove brown;
  border-right: 20px;

}